/*Reset do CSS */
* {
    margin: 13px;
    padding: 1px;
}

h1, p {
    text-align: center;
}

header {
    background-color: rgb(255, 120, 143);
    color: rgb(240, 248, 255);
    font-style: oblique;
    padding: 20px;
}